@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Odibee Sans', cursive;
  color: #595447;
}

h1,
h2,
h3,
h4,
.display-1 {
  color: #a39c83;
  font-weight: 700;
}
p{
  font-size: 1.5rem;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* 导航栏样式 */
.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand img{
  height: 6rem;
}

.navbar-nav li{
  padding-right: 1rem;
}

/* hover待解决 */
.nav-link:hover {
  color:#a39c83 !important;
}

.dropdown-item{
  text-transform:none;
  font-weight: 700;
  font-size: 1.8rem;
}

/* 登录页面 */
.hero{
  background-image: url(img/landing.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.hero::after{
  content:"";
  position: absolute;
  width: 100%;
  height:100%;
  top:0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.display-1{
  font-size: 3rem;
}

.display-2,
.display-3 {
  font-size: 1.8rem;
}
/* 登录页面结束 */

/* 诺兰介绍 */
.col-img{
  background-image: url(img/Christopher-Nolan-Films.jpg);
  min-height: 500px;
  background-position: center;
  background-size: cover;
}

.iconbox{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-size: 28px;
  background-color: #c9d1d4;
  border-radius: 100px;
  flex: none;
}

.line-1{
  font-size: 1.2rem;
}

/* 诺兰介绍 */

/* 大师页面 */
.feature{
  display: flex;
  justify-content: center;
}

.iconbox-1{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #595447;
  font-size: 40px;
  background-color: #c9d1d4;
  border-radius: 100px;
  flex: none;
}

h1.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline{
  width: 6rem;
  height: .2rem;
  background-color: #c9d1d4;
  margin: 0 auto 2rem;
}

.line-4{
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.offset {
  background-image: url(img/actor.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

#fuck {
  background-color: rgba(0, 0, 0, 0.5);
  color: #c9d1d4;
}
/* 大师页面结束 */

/* 时间与空间页面 */
section{
  padding-top: 120px;
  padding-bottom: 120px;
}

.line-2{
  white-space: pre;
}

.card-effect{
  box-shadow: 0 8px 22px rgb(0, 0, 0, 0.2);
  background-color: #c9d1d4;
  padding: 10px;
  transition: all 0.35s ease;
}

.card-effect:hover{
  box-shadow: none;
  background-color: #bab9b6;
  transition: translateY(5px);
}

section .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body h5{
  font-weight: 700;
  font-size: 1.7rem;
}
.card-body p{
  font-size: 1.2rem;
}

section .btn{
  background-color: #8a7d6b;
  font-size: 1.5rem;
}
section .btn:hover{
  background-color: #595447;
}

/* 时间与空间结束 */

/* 爱与反思 */

/* 爱与反思结束 */

/* 大家的话 */
.clients img{
  width: 100%;
  border-radius: 50%;
}
blockquote {
  margin: 1rem;
  font-size: 1.4rem;
}
#realshot{
  padding-top: 120px;
}
/* 大家的话结束 */

/* 脚注 */
.footer-top{
  background-color:#29241e;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.footer-top h2{
  font-size: 4rem;
}
.footer-top a{
  color:#786549;
}
.footer-top a:hover{
  color:#a39c83;
}
.footer-top li{
  color:#786549;
}
/* 脚注结尾 */


/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
